nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    background: var(--second-bg-color);
    align-items: center;
    z-index: 0;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navItem {
    list-style: none;
    padding-left: 1.5rem;
}

.navItem+.navItem {
    margin-left: 1rem;
}

/*----links*/

.default-link {
    border-bottom: 2px solid transparent;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.active-link {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

a:hover{
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}
