footer {
    display: flex;
    justify-content: center;
    height: 2rem;
    background: var(--second-bg-color);
    align-items: center;
    z-index: 0;
    width: 100%;
}

.footerList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footerItem {
    list-style: none;
    padding: 0 1rem;
}

/*----links*/

.default-link {
    border-bottom: 2px solid transparent;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}

.active-link {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 0.8rem;
}

a:hover {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}