
/*////
Table of Contents
1. Global Styles
2. Typography
3. Areas
  3.1. -
/////*/

/*-------------1. Global Styles-------------*/


/*-------------2. Typography-------------*/


body, button, a {
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}

a  {
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

.error {
  color: red;
}

/*-------------3. Areas-------------*/